header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1rem;
  background-color: beige;
}

ul {
  display: flex;
  align-items: center;
  justify-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 1rem;
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: 0.125s ease-in-out;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: -4px;
    background: #ffc107;
    transition: 0.125s ease-in-out;
  }

  &:hover {
    color: #ffc107;

    &::after {
      width: calc(100% + 8px);
    }
  }
}
